.HomeTitle {
  padding-top: 25px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.BackBtn {
  min-width: 100px;
  max-width: 150px;
  padding: 10px;
  display: block;
  margin: 10px 0 30px;
  text-align: center;
  border-radius: 10px;
  border: none;
  background-color: rgb(96, 174, 238);
  cursor: pointer;
  outline: none;
}

.AditionalInfomation {
  padding: 30px 0;

  & h2 {
    margin-bottom: 20px;
  }
}
