@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
// import 'react-loader-spinner/dist/loader/css/react-spinner-loader.css';
@import url('../node_modules/react-loader-spinner/dist/loader/css/react-spinner-loader.css');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Roboto Mono', monospace;
  color: #2c2c2c;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(44, 44, 44);
}

input {
  padding: 5px 10px;
  border: 1px solid rgb(144, 144, 144);
  border-radius: 5px;

  &:focus {
    border: 1px solid #5dff80;
    outline: none;
  }
}

.Container {
  margin: 0 auto;
  max-width: 768px;
  padding: 0px 10px;
}

.Loader {
  width: 100px;
  margin: 0 auto;
}

.MoviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 0 25px;
}
